@page "/expensedetails/details"
@using Microsoft.EntityFrameworkCore
@using InvoiceApp.Models
@inject IDbContextFactory<InvoiceApp.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>ExpenseDetail</h2>
    <hr />
    @if (expensedetail is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Hst</dt>
            <dd class="col-sm-10">@expensedetail.Hst</dd>
            <dt class="col-sm-2">Amount</dt>
            <dd class="col-sm-10">@expensedetail.Amount</dd>
            <dt class="col-sm-2">ExpenseId</dt>
            <dd class="col-sm-10">@expensedetail.ExpenseId</dd>
        </dl>
        <div>
            <a href="@($"/expensedetails/edit?id={expensedetail.Id}")">Edit</a> |
            <a href="@($"/expensedetails")">Back to List</a>
        </div>
    }
</div>

@code {
    private ExpenseDetail? expensedetail;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        expensedetail = await context.ExpenseDetails.FirstOrDefaultAsync(m => m.Id == Id);

        if (expensedetail is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
