@using InvoiceApp.Models
@using InvoiceApp.Data
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.Forms
@inject IDbContextFactory<InvoiceApp.Data.ApplicationDbContext> DbFactory
@inject IWebHostEnvironment WebHostEnvironment
@inject IJSRuntime JSRuntime

<div class="modal fade" id="addExpenseModal" tabindex="-1" aria-labelledby="addExpenseModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addExpenseModalLabel">Quick-Add An Expense</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <EditForm Model="NewExpense" OnValidSubmit="AddNewExpense">
                    <div class="bg-danger bg-opacity-50 rounded">
                        @if (!validator.IsValid)
                        {
                            <p><b>There are some entries to be fixed:</b></p>
                        }
                        <ul>
                            @foreach (var item in validator.ErrorMessages)
                            {
                                <li>@item</li>
                            }
                        </ul>
                    </div>
                    <DataAnnotationsValidator />
                    <ValidationSummary class="text-danger" role="alert" />
                    <div class="row">
                        <div class="mb-3">
                            <InputText id="totalhst" @bind-Value="NewExpense.Vendor" class="form-control" placeholder="Enter the Vendor's name here..." />
                            <ValidationMessage For="() => NewExpense.Vendor" class="text-danger" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-1 col-md-2 d-flex align-items-center text-end">
                            <b>Total Amount</b>
                        </div>
                        <div class="mb-1 col-md-4">
                            <InputNumber id="totalamount" @bind-Value="NewExpense.TotalAmount" class="form-control" />
                            <ValidationMessage For="() => NewExpense.TotalAmount" class="text-danger" />
                        </div>
                        <div class="mb-1 col-md-2 d-flex align-items-center text-end">
                            <b>Total HST</b>
                        </div>
                        <div class="mb-1 col-md-4">

                            <InputNumber id="totalhst" @bind-Value="NewExpense.TotalHst" class="form-control" />
                            <ValidationMessage For="() => NewExpense.TotalHst" class="text-danger" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-1 col-md-2 d-flex align-items-center text-end">
                            <b>Department</b>
                        </div>
                        <div class="mb-1 col-md-4">

                            <InputSelect @bind-Value="NewExpenseDetail.DepartmentId" class="form-select">
                                @foreach (var department in _departments)
                                {
                                    <option value="@department.Id">@department.Name</option>
                                }
                            </InputSelect>
                        </div>
                        <div class="mb-1 col-md-2 d-flex align-items-center text-end">
                            <b>GL Account</b>
                        </div>
                        <div class="mb-1 col-md-4">

                            <InputSelect @bind-Value="NewExpenseDetail.AccountId" class="form-select">
                                @foreach (var account in _glaccounts)
                                {
                                    <option value="@account.Id">@account.Name</option>
                                }
                            </InputSelect>
                        </div>
                    </div>

                    <div style="padding-top:3px">
                        <p>
                            <InputSelect id="employeeSelect" @bind-Value="selectedEmployeeId" class="form-select">
                                <option value="0">-- Select an Approver --</option>
                                @foreach (var employee in filteredEmployees)
                                {
                                    <option value="@employee.Id">@employee.FullName</option>
                                }
                            </InputSelect>
                        </p>
                    </div>

                    <div>
                        <label for="fileInput" style="width: 100%; height: 100%; display: block; cursor: pointer">
                            <div class="mb-3 btn btn-primary w-100 " style="height:50px;background-color:orange;color:black;">
                                <InputFile id="fileInput" class="btn btn-primary" OnChange="HandleFileSelected" @ref="inputFileElement" style="display: none;" MaxAllowedSize="104857600" />
                                <span style="display: block; width: 100%; height: 100%;margin-top:8px">
                                    @if (BrowserFile != null)
                                    {
                                        <div>
                                            <b>Selected Image: </b>@BrowserFile.Name<br />
                                        </div>
                                    }
                                    else
                                    {
                                        <div>Tap here to select a invoice image to attach.</div>
                                    }
                                </span>
                            </div>
                        </label>
                        <ValidationMessage For="() => BrowserFile" class="text-danger" />
                    </div>

                    <div>
                        <InputTextArea id="noteText" @bind-Value="NoteText" class="form-control" rows="2" placeholder="If you have a note, enter it here..." />
                    </div>
                    <hr />
                    <div style="text-align:right">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick="Cancel">Cancel</button>
                        @* <button type="submit" data-bs-dismiss="modal" class="btn btn-primary">Save and Submit</button> *@
                        <button type="submit" class="btn btn-primary">Save and Submit</button>
                    </div>
                </EditForm>
            </div>
            @*         <InputTextArea id="noteText" @bind-Value="newNote.NoteText" class="form-control" rows="7" /> *@
            @*         <ValidationMessage For="() => newNote.NoteText" class="text-danger" /> *@
            <div class="modal-footer">

                <p style="font-size:small">
                    To send directly to the approver, select <u>Save and Submit</u>.<br />
                    For more complex expenses, choose <u>Save and Edit</u>.In the <u>Expense Details</u> you can add multiple approvers, split the expense between multiple accounts, and more.
                </p>
            </div>
        </div>
    </div>
</div>


