@page "/expenses/edit"
@using Microsoft.EntityFrameworkCore
@using InvoiceApp.Models
@using InvoiceApp.Data
@using InvoiceApp.ViewModels
@using Microsoft.AspNetCore.Components.QuickGrid
@using InvoiceApp.Components.Icons
@inject IDbContextFactory<InvoiceApp.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager
@inject IWebHostEnvironment WebHostEnvironment
@inject IJSRuntime JSRuntime
@rendermode InteractiveServer

<PageTitle>Edit</PageTitle>

<h4>Expense Details </h4>


<div class="row sticky-top bg-white">
    <hr />
    <div class="col-md-6 mb-3">
        <table>
            <tr>
                <td class="w-25 @(Expense.ExpenseStatus.Id == 1 ? "bg-success" : "")" style="border-right: 1px solid #000;"><i class="bi bi-1-square-fill"></i></td>
                <td class="w-25 @(Expense.ExpenseStatus.Id == 2 ? "bg-success" : "")" style="border-right: 1px solid #000;padding-left:7px"><i class="bi bi-2-square-fill"></i></td>
                <td class="w-25 @(Expense.ExpenseStatus.Id == 3 ? "bg-success" : "")" style="border-right: 1px solid #000;padding-left:7px"><i class="bi bi-3-square-fill"></i></td>
                <td class="w-25 @(Expense.ExpenseStatus.Id == 4 ? "bg-success" : "")" style="padding-left:7px"><i class="bi bi-4-square-fill"></i></td>
            </tr>
            <tr class="small">
                <td class="@(Expense.ExpenseStatus.Id == 1 ? "bg-success" : "")" style="border-right: 1px solid #000;">Creating Stage</td>
                <td class="@(Expense.ExpenseStatus.Id == 2 ? "bg-success" : "")" style="border-right: 1px solid #000;padding-left:7px">Approval Stage</td>
                <td class="@(Expense.ExpenseStatus.Id == 3 ? "bg-success" : "")" style="border-right: 1px solid #000;padding-left:7px">Processing Stage</td>
                <td class="@(Expense.ExpenseStatus.Id == 4 ? "bg-success" : "")" style="padding-left:7px;">Completed for Payment</td>
            </tr>
        </table>
    </div>

    <div class="col-md-@(IsEditing ? "3" : "6" ) mb-3">
        <div class="text-end">
            <!-- Button to trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addNoteModal">Add Note</button>
            <button @onclick='() => ToggleSection("AllSections")' class="btn btn-primary">@(sectionVisibility["AllSections"] ? "Show All Sections" : "Hide All Sections")</button>

        </div>
    </div>
    @if (IsEditing)
    {
        <div class="col-md-3 mb-3 d-flex justify-content-end">

            <div class="dropdown d-inline-block w-100" style="margin-right:1.1em;">
                <button class="btn btn-success dropdown-toggle w-100" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="margin-right:1.1em;">
                    Save Actions
                </button>
                <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton1" style="margin-right:1.1em;">
                    <li><a class="dropdown-item" href="/expenses/edit?id=@Expense.Id" @onclick="SaveAndRefreshPage">Save Details</a></li>
                    @if (Expense.ExpenseStatus.Id == 1)
                    {
                        <li><b><a class="dropdown-item" style="cursor: pointer;" @onclick="()=> SubmitExpense()">Submit Expense</a></b></li>
                    }
                    @if (Expense.ExpenseStatus.Id == 3)
                    {
                        <li><a class="dropdown-item" style="cursor: pointer;" @onclick="()=> ApproveForPament()"><i class="text-danger">Approve for Payment</i></a></li>
                        <li><a class="dropdown-item" style="cursor: pointer;" @onclick="()=> ReturnToSubmitter()"><i class="text-info">Return To Submitter</i></a></li>
                    }
                    <li><a class="dropdown-item" @onclick="SaveAndReturnToList">Save And Return To List</a></li>
                    <li><a class="dropdown-item" href="/expenses">Go Back to Expense List (Don't Save)</a></li>
                </ul>
            </div>

        </div>
    }
    <hr />
</div>
@* <p>@(IsEditing ? "Editing" : "Locked")</p> *@
<div class="row">
    <div class="col-12">
        <div style="background-color: rgb(5, 39, 103); color:white;border-radius: 8px;padding: 5px;padding-left: 15px;">
            <h3>
                Expense Summary
            </h3>
        </div>
    </div>
</div>

@if (Expense is null)
{
    <p><em>Loading...</em></p>
}
else
{
    @if (IsEditing)
    {
        <div class="row" style="margin-top:5px;">
            <div class="col-md-9"></div>
            <div class="col-md-3 mb-3 d-flex justify-content-end">
                <button class="btn btn-success w-100" style="margin-right: 1.1rem;" @onclick="SaveAndRefreshPage">Save Updated Expense</button>
            </div>
        </div>
        <div class="row">
            <EditForm method="post" Model="Expense" OnValidSubmit="UpdateExpense" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert" />
                <div class="row">
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="totalhst" class="form-label"><b>Vendor Name</b></label>
                            <InputText id="vendor" @bind-Value="Expense.Vendor" class="form-control" />
                            <ValidationMessage For="() => Expense.Vendor" class="text-danger" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="totalhst" class="form-label"><b>Total Hst</b></label>
                            <InputNumber id="totalhst" @bind-Value="Expense.TotalHst" class="form-control" />
                            <ValidationMessage For="() => Expense.TotalHst" class="text-danger" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <input type="hidden" name="Expense.Id" value="@Expense.Id" />
                        <div class="mb-3">
                            <label for="totalamount" class="form-label"><b>Total Amount</b></label>
                            <InputNumber id="totalamount" @bind-Value="Expense.TotalAmount" class="form-control" />
                            <ValidationMessage For="() => Expense.TotalAmount" class="text-danger" />
                        </div>
                    </div>
                </div>
                @* <button type="submit" class="btn btn-primary">Save</button> *@
            </EditForm>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-md-4">
                <div class="mb-3">
                    <b>Vendor</b><br />
                    @Expense.Vendor
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3">
                    <b>Total HST</b><br />
                    @Expense.TotalHst.ToString("N2")
                </div>
            </div>
            <div class="col-md-4">
                <input type="hidden" name="Expense.Id" value="@Expense.Id" />
                <div class="mb-3">
                    <b>Total Amount</b><br />
                    @Expense.TotalAmount.ToString("N2")
                </div>
            </div>
        </div>
    }
}
<div class="row">
    <div class="col-12">
        <div style="background-color: rgb(5, 39, 103); color:white;border-radius: 8px;padding: 5px;padding-left: 15px;">
            <a @onclick='() => ToggleSection("ExpenseDetails")' style="cursor: pointer;">
                <h3>
                    @(SectionToggleIcon("ExpenseDetails"))
                    Expense Details
                </h3>
            </a>
        </div>
    </div>
</div>

@if (sectionVisibility["ExpenseDetails"])
{
    @if (IsEditing)
    {
        <div class="row" style="margin-top:5px;">
            <div class="col-md-9"></div>
            <div class="col-md-3 mb-3 d-flex justify-content-end">
                <button class="btn btn-success w-100" style="margin-right: 1.1rem;" @onclick="AddExpenseDetail">Add Expense Detail</button>
            </div>
        </div>
    }
    <QuickGrid Class="table" Items="context.ExpenseDetails.Where(expensedetails => expensedetails.ExpenseId == Expense.Id).Include(ed => ed.Department).Include(ed => ed.Account)">
        @if (IsEditing)
        {
            <TemplateColumn Title="Department" Context="expensedetail">
                <InputSelect @bind-Value="expensedetail.DepartmentId" class="form-select" @onchange="() => OnDepartmentChanged(expensedetail)">
                    @foreach (var department in _departments)
                    {
                        <option value="@department.Id">@department.Name</option>
                    }
                </InputSelect>
            </TemplateColumn>
            <TemplateColumn Title="Department" Context="expensedetail">
                <InputSelect @bind-Value="expensedetail.AccountId" class="form-select" @onchange="() => OnDepartmentChanged(expensedetail)">
                    @foreach (var account in _glaccounts)
                    {
                        <option value="@account.Id">@account.Name</option>
                    }
                </InputSelect>
            </TemplateColumn>
            <TemplateColumn Title="HST" Context="expensedetail">
                <InputNumber @bind-Value="expensedetail.Hst" class="form-control" @onchange="() => OnDepartmentChanged(expensedetail)">
                </InputNumber>
            </TemplateColumn>
            <TemplateColumn Title="Amount" Context="expensedetail">
                <InputNumber @bind-Value="expensedetail.Amount" class="form-control" @onchange="() => OnDepartmentChanged(expensedetail)">
                </InputNumber>
            </TemplateColumn>
            <TemplateColumn Context="expensedetail">
                <div style="text-align:right;white-space: nowrap;">
                    <button class="btn btn-primary" style="white-space: nowrap;margin-right:5px" @onclick="() => OnDepartmentChanged(expensedetail)">Save Change</button>
                    <button class="btn btn-danger" style="white-space: nowrap" @onclick="() => DeleteDetailRow(expensedetail)">Delete Row</button>
                </div>
            </TemplateColumn>
        }
        else
        {
            <PropertyColumn Property="expensedetail => expensedetail.Department.Name" Title="Department" />
            <PropertyColumn Property="expensedetail => expensedetail.Account.Name" Title="Account" />
            <TemplateColumn Title="Amount" Context="expensedetail">
                @expensedetail.Amount.ToString("N2")
            </TemplateColumn>
            <TemplateColumn Title="HST" Context="expensedetail">
                @expensedetail.Hst.ToString("N2")
            </TemplateColumn>
        }
    </QuickGrid>


}
<hr />

<div class="row">
    <div class="col-12">
        <div style="background-color: rgb(5, 39, 103); color:white;border-radius: 8px;padding: 5px;padding-left: 15px;">
            <a @onclick='() => ToggleSection("Approvals")' style="cursor: pointer;">
                <h3>
                    @(SectionToggleIcon("Approvals"))
                    Approvals
                </h3>
            </a>
        </div>
    </div>
</div>

@if (sectionVisibility["Approvals"])
{
    @if (IsEditing)
    {
        <div class="row" style="margin-top:5px;">
            <div class="col-md-9 mb-3">
                @* <InputText id="employeeSearch" @bind-Value="employeeSearchTerm" @oninput="FilterEmployees" class="form-control" /> *@

                <InputSelect id="employeeSelect" @bind-Value="selectedEmployeeId" class="form-select">
                    <option value="-1">-- Select an Approver --</option>
                    @foreach (var employee in filteredEmployees)
                    {
                        <option value="@employee.Id">@employee.FullName</option>
                    }
                </InputSelect>
            </div>
            <div class="col-md-3 mb-3 d-flex justify-content-end">
                <button class="btn btn-success w-100" style="margin-right: 1.1rem;" @onclick="AddApproval">Add Approver</button>
            </div>
        </div>
    }

    <QuickGrid Class="table" Items="context.Approvals.Where(a => a.ExpenseId == Expense.Id)">
        <PropertyColumn Property="approval => approval.Approver.FullName" Title="Approver's Name'" />

        <TemplateColumn Context="approval" Title="Approval Status">
            @if (approval.IsApproved)
            {
                <span class="text-success"><b>Approved</b></span>
            }
            else
            {
                <span class="text-danger"><b>Not Approved</b></span>
            }
        </TemplateColumn>
        @if (IsEditing)
        {
            <TemplateColumn Context="approval">
                <div class="text-end">
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteApprovalModal" @onclick='() => DeleteApprover(approval.Id)'>
                        Delete Approver
                    </button>
                </div>
            </TemplateColumn>
        }

        @if (!IsEditing)
        {
            <TemplateColumn Context="approval">
                <div class="text-end">
                    @if (!IsEditing && !approval.IsApproved)
                    {
                        <button type="button" style="margin-right:5px" class="btn btn-success" @onclick='() => Approve(approval.Id)'>
                            Approve
                        </button>
                    }
                    @if (!IsEditing && !approval.IsApproved)
                    {
                        <button class="btn btn-success" @onclick="ReturnToSubmitter">Return to Requestor</button>

                    }
                </div>

            </TemplateColumn>
        }



    </QuickGrid>
}
<hr />

<div class="row">
    <div class="col-12">
        <div style="background-color: rgb(5, 39, 103); color:white;border-radius: 8px;padding: 5px;padding-left: 15px;">
            <a @onclick='() => ToggleSection("Notes")' style="cursor: pointer;">
                <h3>
                    @(SectionToggleIcon("Notes"))
                    Notes
                </h3>
            </a>
        </div>
    </div>
</div>

@if (sectionVisibility["Notes"])
{
    <div class="row" style="margin-top:5px;">
        <div class="col-md-9"></div>
        <div class="col-md-3 mb-3 d-flex justify-content-end">
            <button type="button" class="btn btn-success w-100" data-bs-toggle="modal" data-bs-target="#addNoteModal" style="margin-right: 1.1rem;">Add Note</button>
        </div>
    </div>
    <QuickGrid Class="table" Items="context.Notes.Where(n => n.ExpenseId == Expense.Id)">
        <TemplateColumn Title="Note Text" Class="w-50">
            <div style="width: 100%;">
                @((MarkupString)context.NoteText)
            </div>
        </TemplateColumn>
        <PropertyColumn Property="note => note.WrittenBy.FullName" />
        <PropertyColumn Property="note => note.DateAdded" />
    </QuickGrid>

    <NotesGrid Items="context.Notes.Where(n => n.ExpenseId == Expense.Id)" />
}
<hr />
<div class="row">
    <div class="col-12">
        <div style="background-color: rgb(5, 39, 103); color:white;border-radius: 8px;padding: 5px;padding-left: 15px;">
            <a @onclick='() => ToggleSection("Images")' style="cursor: pointer;">
                <h3>
                    @(SectionToggleIcon("Images"))
                    Attachments
                </h3>
            </a>
        </div>
    </div>
</div>

@if (sectionVisibility["Images"])
{
    @if (IsEditing)
    {
        <div class="row" style="margin-top:5px;">
            <div class="col-md-9"></div>
            <div class="col-md-3 mb-3 d-flex justify-content-end">
                <label for="fileInput" style="width: 100%; height: 100%; display: block; cursor: pointer;margin-right: 1.1rem">
                    <div class="mb-3 btn btn-success w-100 ">
                        <InputFile id="fileInput" class="btn btn-primary" OnChange="HandleFileSelected" style="display: none;" MaxAllowedSize="104857600" />
                        <span style="display: block; width: 100%; height: 100%;">
                            <div>Attach Document or Image</div>
                        </span>
                    </div>
                </label>
            </div>
        </div>
    }
    @if (_images.Any())
    {
        <h3>Attached Images</h3>
        <small>Click Filename to open.</small>
        <div class="row">
            @foreach (var image in _images)
            {
                <div class="col-md-3 mb-3">
                    <div class="card">
                        <button class="btn btn-info" @onclick="() => DownloadFile(image.Id)">
                            @image.FileName
                            @* <img src="" class="card-img-top" alt="@image.FileName" /> *@
                        </button>
                        <div class="card-body">
                            @if (IsEditing)
                            {
                                <p style="text-align:end">
                                    <button type="button" class="btn btn-danger w-100" data-bs-toggle="modal" data-bs-target="#deleteAttachmentModal" @onclick='() => DeleteAttachment(image.Id)'>
                                        Delete Attachment
                                    </button>
                                </p>
                            }
                        </div>

                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <p>No images attached to this expense.</p>
    }
}
<hr />






<!-- Button to trigger modal -->
@* <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addNoteModal"> *@
@*     Add Note *@
@* </button> *@


<div class="modal fade" id="addNoteModal" tabindex="-1" aria-labelledby="addNoteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addNoteModalLabel">Add Note</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <EditForm Model="newNote" OnValidSubmit="AddNote">
                    <DataAnnotationsValidator />
                    <ValidationSummary class="text-danger" role="alert" />
                    <div class="mb-3">
                        <label for="noteText" class="form-label">Note:</label>
                        <InputTextArea id="noteText" @bind-Value="newNote.NoteText" class="form-control" rows="7" />
                        <ValidationMessage For="() => newNote.NoteText" class="text-danger" />
                    </div>
                    <button type="submit" data-bs-dismiss="modal" class="btn btn-primary">Save</button>
                </EditForm>
            </div>
        </div>
    </div>
</div>



<!-- Delete Approver -->
<div class="modal " id="deleteApprovalModal" tabindex="-1" aria-labelledby="deleteApprovalModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteApprovalModalLabel">Confirm Deletion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this approver?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-danger" @onclick="ConfirmDeleteApproval">Yes</button>
            </div>
        </div>
    </div>
</div>


<!-- Delete Attachment -->
<div class="modal " id="deleteAttachmentModal" tabindex="-1" aria-labelledby="deleteAttachmentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteAttachmentModalLabel">Confirm Deletion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this attachment?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-danger" @onclick="ConfirmDeleteAttachment">Yes</button>
            </div>
        </div>
    </div>
</div>

<!--Inform that there are no approvers-->
<div class="modal fade" id="noApproversModal" tabindex="-1" aria-labelledby="noApproversModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            @if (!_approvals.Any())
            {
                <div class="modal-header">
                    <h5 class="modal-title" id="noApproversModalLabel">No Approvers</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>No approvers found. <br />Please add approvers before submitting the expense.</p>
                </div>
            }
            else
            {
                <div class="modal-header">
                    <h5 class="modal-title" id="noApproversModalLabel">Expense Submitted</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Expense is approved for the next step.<br />Expense is locked for editing and approvers have been notified.</p>
                </div>
            }
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- File to large -->
@if (FileToLarge)
{

    <div class="modal show d-block" id="fileToLargeModal" tabindex="-1" aria-labelledby="fileToLargeModalLabel">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-danger" id="fileToLargeModalLabel">File Is Too Big</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>We can't upload your file, it is bigger than 20MB. <br />Please shrink the file so that it can be uploaded. </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal" @onclick="FileToLargeClose">Ok</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop fade show inert"></div>
}